@import url("../node_modules/font-awesome/css/font-awesome.min.css");

img {
  width: 100%;
  object-fit: cover;
}

input #image {
  border: red;
  width: 20%;
}

.floating-card {
  float: left;
  margin: 1% 1% 4% 0%;
  width: 100%;
}

.pagination {
  margin-top: 2rem;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #0275d8;
  padding: 0.5rem;
  border: 1px solid #0275d8;
  margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background: #0275d8;
  color: white;
}
